<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Oswald:wght@500&family=Righteous&display=swap"
        rel="stylesheet">

    <title>fit world</title>
    <style>
        .my-cards {
            margin-top: 80px;
        }

        h3 {
            font-family: 'Pacifico', cursive;
        }

        h5 {
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>


<body data-spy="scroll" data-target=".navbar">

    <div id="Header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <div class="container">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>

                </button>
                <a href="#" class="navbar-brand">
                    <h3>Fit world</h3>
                </a>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
                        <li class="nav-item"><a href="/female" class="nav-link">Workouts</a></li>
                        <li class="nav-item"><a href="/measurement" class="nav-link">Measurement</a></li>
                        <li class="nav-item"><a href="/setting" class="nav-link">Setting</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

</body>

<div class="card-deck my-cards">
    <div class="card">
        <div class="embed-responsive embed-responsive-21by9">
            <video class="embed-responsive-item" src="Yoga Video 4.mp4" controls preload="auto"></video>
        </div>

        <div class="card-body">
            <h5 class="card-title text-center">Exercise Video 1</h5>
            <div class="row justify-content-center">
                <a href="/login" class="btn btn-dark active" role="button" aria-pressed="true">Download</a>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="embed-responsive embed-responsive-21by9">
            <video class="embed-responsive-item" src="Yoga Video 2.mp4" controls preload="auto"></video>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Exercise Video 2</h5>
            <div class="row justify-content-center">
                <a href="/login" class="btn btn-dark active" role="button" aria-pressed="true">Download</a>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="embed-responsive embed-responsive-21by9">
            <video class="embed-responsive-item" src="Yoga Video 3.mp4" controls preload="auto"></video>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Exercise Video 3</h5>
            <div class="row justify-content-center">
                <a href="/login" class="btn btn-dark active" role="button" aria-pressed="true">Download</a>
            </div>
        </div>
    </div>
</div>

<div class="card-deck my-cards">
    <div class="card">
        <div class="embed-responsive embed-responsive-21by9">
            <video class="embed-responsive-item" src="Yoga Video 1.mp4" controls preload="auto"></video>
        </div>

        <div class="card-body">
            <h5 class="card-title text-center">Exercise Video 4</h5>
            <div class="row justify-content-center">
                <a href="/login" class="btn btn-dark active" role="button" aria-pressed="true">Download</a>
            </div>

        </div>
    </div>

</html>